@font-face {
  font-family: "NassimArabic";
  src: url("./assets/fonts/nassim-arabic-pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.narrator {
  color: black;
  cursor: pointer;
  transition: color 0.2s ease;
}
.narrator:hover {
  text-decoration: underline;
  color: #1a73e8; /* a nice blue */
}

.thiqa-ghayr-imami {
  color: #12af12;
}

.thiqa-imami {
  color: #048542;
}

.thiqa-thaqiq {
  color: rgb(196, 167, 5);
}

.daef {
  color: rgb(207, 26, 26);
}

.non-narrator {
  color: #888;
}

.arabic-text {
  direction: rtl;
  text-align: right;
  font-family: "NassimArabic", sans-serif;
  font-size: 1.5rem;
}

.english-text {
  display: block;
  text-align: left;
  direction: ltr;
  font-family: "NassimArabic", sans-serif;
  font-size: 1.5rem;
}

.sources {
  color: #888;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.search {
  flex: 4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 34rem 0 34rem;
  border: 5px solid black;
}

.chains {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15rem 2rem 15rem;
  gap: 1rem;
}
