@font-face {
  font-family: "NassimArabic";
  src: url("./assets/fonts/nassim-arabic-pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.narrator {
  color: black;
  cursor: pointer;
  transition: color 0.2s ease;
}
.narrator:hover {
  text-decoration: underline;
  color: #1a73e8; /* a nice blue */
}

.thiqa-ghayr-imami {
  color: #12af12;
}

.thiqa-imami {
  color: #048542;
}

.thiqa-thaqiq {
  color: rgb(196, 167, 5);
}

.non-narrator {
  color: #888;
}

.arabic-text {
  direction: rtl;
  text-align: right;
  font-family: "NassimArabic", sans-serif;
  font-size: 1.5rem;
}

.english-text {
  display: block;
  text-align: left;
  direction: ltr;
  font-family: "NassimArabic", sans-serif;
  font-size: 1.5rem;
}

.sources {
  color: #888;
}
